.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #323232;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}


.logo_container {
    transform: translateY(12px);
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logoC {
    padding-left: 63px;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo_line_1 {
    font-family: 'gill', sans-serif;
    font-size: 30px;
    line-height: 0.75;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.logo_line_1 span {
    color: #ffa800;
    font-weight: bold;
}

.logo_line_2 {
    font-size: 11px;
    color: #909090;
    margin-top: -1px;
    padding-left: 1px;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}
